@using BolaoTI.Dominio;
@model List<Usuario>
@{
    var grid = new WebGrid(Model);
    var quantidade = Model.Count();
}

@helper displayNome(Usuario usuario)
{        
    <b>@Html.DisplayFor(model => usuario.Nome)</b><br />
    @Html.DisplayFor(model => usuario.Email)    
}

@helper displayPerfil(Usuario usuario)
{       
    foreach (var perfil in usuario.Perfis)
    {  
        <li>@Html.DisplayFor(model => perfil.Nome)</li> 
    }    
}
@helper displayOrganizacoes(Usuario usuario)
{    
    foreach (var organizacao in usuario.Organizacoes)
    {
        <li>@Html.DisplayFor(model => organizacao.Nome)</li>
    }    
}

@grid.GetHtml(tableStyle: "table table-striped table-hover", columns: new[]{
    grid.Column(BolaoTI.Resources.Field.Usuario_Nome_Field, format: d=> displayNome((Usuario)d.Value)),                
    grid.Column(BolaoTI.Resources.Field.Usuario_Perfil_Field, format: d=> displayPerfil((Usuario)d.Value)),                
    grid.Column(BolaoTI.Resources.Field.Usuario_Organizacoes_Field, format: d=> displayOrganizacoes((Usuario)d.Value)),                
    grid.Column(format: d => Html.ActionLink(BolaoTI.Resources.View.Link.Action_AddParticipante_Link, "ConfirmaParticipante", new { id = d.Id },
        new { @class = "btn btn-default addParticipante" })),
    grid.Column(format: d => Html.ActionLink(BolaoTI.Resources.View.Link.Action_Editar_Link, "Editar", new { id = d.Id },
        new { @class = "btn btn-default editar" })),        
    grid.Column(format: d => Html.ActionLink(BolaoTI.Resources.View.Link.Action_Reset_Link, "Reset", new { id = d.Id },
        new { @class = "btn btn-warning reset" })),
    grid.Column(format: d => Html.ActionLink(BolaoTI.Resources.View.Link.Action_Remover_Link, "Deletar", new { id = d.Id },
        new { @class = "btn btn-danger remover" }))
})

<p><strong>@BolaoTI.Resources.View.Label.Label_Quantidade: </strong>@quantidade</p>
